# --- 系统杂物 ---
.DS_Store
Thumbs.db

# --- Python 编译缓存 (不需要上传) ---
__pycache__/
*.py[cod]

# --- 虚拟环境 (这是你本地的环境，别人不需要) ---
venv/
venv_intel/
env/
.env

# --- 打包产生的临时文件和成品 (这些都能通过代码自动生成) ---
build/
dist/
*.spec

# --- IDE 编辑器配置 (这是你的个人设置) ---
.vscode/
.idea/

# --- Mac 软件成品 ---
*.app
*.dmg

# --- Windows 软件成品 ---
*.exe
